.topicos {
    text-align: center;
    padding: 2em 0.5em;
    background: var(--azul-degrade);
}

.topicos__titulo {
    margin-bottom: 1.5em;
    line-height: 24px;
    color: var(--branco);
    font-weight: 300;
}

.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 1em;
    column-gap: 1em;
}

.topico__item {
    padding: 1em;
    background: var(--laranja);
    color: var(--branco);
    font-size: 14px;
    font-weight: 700;
}   

@media screen and (min-width: 1024px) {
    .topico__item {
        font-size: 24px;
    }

    .topicos__lista {
        width: 73%;
        margin: 0 auto;
        row-gap: 1.5em;
        column-gap: 1.5em;
    }

    .topico__item:nth-child(1) {
        order: 1;
    }
    .topico__item:nth-child(2) {
        order: 3;
    }
    .topico__item:nth-child(3) {
        order: 4;
    }
    .topico__item:nth-child(4) {
        order: 5;
    }
    .topico__item:nth-child(5) {
        order: 6;
    }
    .topico__item:nth-child(6) {
        order: 8;
    }
    .topico__item:nth-child(7) {
        order: 2;
    }
    .topico__item:nth-child(8) {
        order: 7;
    }
}

@media screen and (min-width: 1728px) {
    .topicos {
        padding: 5em 15vw;
    }

    .topicos__titulo {
        font-size: 32px;
    }
}